body{
    background: rgb(247, 215, 173);
    margin-top: 120px;
}

#chess{
    
width: 500px;
height: 500px;
border: 12px groove chocolate;
margin: auto;
display: grid;
grid-template-columns: repeat(8, 1fr);
}

p{
    font-family: sans-serif;
    font-size: smaller;
    position: absolute;
    bottom: 50px;
}

